<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="assets/css/common.css">
    <meta charset="utf-8" />
  </head>
  <body>
    아이디 : <input name="user_id" type="text" /><br />
    방 이름 : <input name="room_name" type="text" /><br />
    <button>입장하기</button>
  </body>
</html>
