<!doctype html>
<html>
  <head>
    <title>오목 플레이</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--<link rel="stylesheet" href="assets/css/omok.css">-->
  </head>
  <body>
  오목 플레이하기!  방 이름 : <input type="text" value = "<%=roomID%>" id="roomName" readonly/>
  <br>


  <fieldset>
  User ID : <input type="text" id="userid" readonly/>
  <button id='change_id'>아이디 변경</button>
  <br>
  Game Infomation
  <br><br>
  <label for="select-id">유저 목록</label><br>
  <select name="userlist" id="userlist" size=2>
  <option value="A">Guest1</option>
  <option value="B">Guest2</option>
  </select>

  <br><br>
  유저 수 부족으로 현재 게임이 시작되지 않았습니다.

  </fieldset>



  <fieldset>
  <br>
  <textarea id="chat_content" cols="40" rows="8" readonly></textarea>

  <br>
  <input type='chat_msg' id="chat_msg">
  <button id="chat_submit">전송</button>
  </fieldset>

  <img src="../images/omok.jpg">

  <!-- script part -->
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <!--
  <script src="../assets/js/chat.js"></script>
  -->
  <script>
  var textlist = 'hello!';
  var socket = io();

  // Join to room
  socket.emit('join:room', {roomID: $("#roomName").val()});

  // Send a message
  $("#chat_submit").click(function() {
    var msg = $('#chat_msg').val();
    if(!msg) return;
    socket.emit('send:message', {
      roomID: $("#roomName").val(),
      message: msg
    });
    $('#chat_msg').val('');
  });

  $("#chat_content").val('hello!');

  // Receive a message
  socket.on('send:message', function(data) {
    textlist += '\n' + data;
    $('#chat_content').val(textlist);

  });

  $(document).ready(function() {

    // Socket.io connection



  });

  </script>


  </body>
</html>
