<!DOCTYPE html>
<html lang="ko">
<head>
    <title>오목 방 설정</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="assets/css/common.css">
</head>
<body>
<div class="chat_list_wrap">
    <div class="header">
        오목 플레이
    </div>
    <div>
        <button onclick="moveTo()">랜덤 방 입장하기</button>
        <script>
        function moveTo(){
          location.href = "omok/GameRoom";
        }
        </script>
    </div>
</div>
</body>
</html>
