<style>
table td {
    display: inline-block;
    white-space: nowrap;
}
</style>



<!doctype html>
<html>
  <head>
    <title>오목 플레이</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="assets/css/omok.css">
  </head>
  <body>
  오목 플레이
  <br>



  <fieldset>
  User ID : <input type="text" id="userid" value = '손님' readonly/>
  <button id='change_id'>아이디 변경</button>
  </fieldset>

  <fieldset>
    Game Infomation
    <div class="wait container">
      <br><br>
      상대방을 기다리고 있습니다..
    </div>

    <div class="info container">
      <br>
      현재 턴 : <input type="text" id="current_Turn" value="검정색" readonly/>
      <br>
      남은 시간 : <input type="text" id="left_Time" value="10" readonly/>
      <br>
      내 돌의 색깔 : <input type="text" id="my_color" value="흑" readonly/>
    </div>



  </fieldset>


  <div class="chat container">
  <fieldset>
  <br>
  <textarea id="chat_content" cols="40" rows="8" readonly></textarea>

  <br>
  <input type='chat_msg' id="chat_msg">
  <button id="chat_submit">전송</button>
  </fieldset>
  </div>


  <div class="game container" id="stonelocate">
  <img id='omokpan' src="../images/omok.jpg"/>
  <table id='omoktable' cellspacing='0' border='0' cellpadding='0' style="table-layout:fixed; border-collapse; position:relative; left:7px; bottom:716px;">
    <script>
    for(i=0; i<19; i++){
      document.write("<tr>");
      for(j=0;j<19;j++){
        document.write("<td width='37' height='37' id='tableLocation+(i*19+j)'>");
      }
      document.write("</tr>");
    }

    tableObj = document.getElementById('omoktable');
    tableObj_td = tableObj.getElementsByTagName('td');

    for(i=0;i<tableObj_td.length;i++) {
      tableObj_td[i].onmouseover = function() {
        this.style.background = "brown";
      }
      tableObj_td[i].onmouseout = function() {
        this.style.background = "transparent";
      }
    }
    </script>
  </table>
  </div>


  <!-- script part -->
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <!--
  <script src="../assets/js/chat.js"></script>
  -->
  <script>
  var connected = false;
  var userID = $('#userid').val();
  var room = '';

  $('#chat_content').append('오목 방에 입장하였습니다!');

  function show_game_window(username){
    $('#userid').val(username);
    userID = username;

    $('.wait').hide();
    $('.info').show();
    $('.chat').show();
    $('.game').show();
  }

  function hide_game_window(){
    $('.wait').show();
    $('.info').hide();
    $('.chat').hide();
    $('.game').hide();
  }

  function write_text(string){
    $('#chat_content').append('\n' + string);
    const top = $('#chat_content').prop('scrollHeight');
    $('#chat_content').scrollTop(top);
  }

  //setting STONE----------
  function isAvailableLocation(socket, row, col){
    socket.emit('vaildTurn', {
      row_index : row,
      col_index : col
    });
  }

  function setStone(row, col, color){
    var img = document.createElement('img');
    if(color == 'black'){
      img.setAttribute("src", "../images/black.png");
    }
    else{
      img.setAttribute("src", "../images/white.png");
    }

    img.setAttribute("alt", "Stone");

    img.style.position = "relative";
    img.width = 40;
    img.height = 40;

    tableObj = document.getElementById('omoktable');
    tableObj.rows[row].cells[col].appendChild(img);
  }

function clearMap(){
    tableObj = document.getElementById('omoktable');
    for(i=0;i<19;i++){
      for(j=0;j<19;j++){
        tableObj.rows[i].cells[j].innerHTML = '';
      }
    }
  }

  //setting SOCKET-------------------------
  $(document).ready(function() {
    // Socket.io connection

    var socket = io();

    socket.on('connect', function(data){
      connected = true;
      //Request random Matching
      socket.emit('requestRandomRoom');
      hide_game_window();

    });

    //Matching Complete
    socket.on('completeMatch', function(data){
      room = data.room;
      clearMap();
      show_game_window(data.username);
      write_text("플레이어 매칭이 완료되었습니다.^^\n게임을 시작합니다.");
      $("#my_color").val(data.usercolor);
    });

    //Matching Ended
    socket.on('endMatch', function(data){
      write_text('상대방이 게임에서 나갔습니다. ㅠㅠ \n게임이 중단됩니다.');
      hide_game_window();
      room = '';
    });

    //disconnection
    socket.on('disconnect', function(data){
      //console.log('Disconnected');
    });

    // Receive a message
    socket.on('message', function(data) {
      write_text(data.userid + ' : ' + data.message);
    });

    //Change Turn
    socket.on('turnChange', function(data){
      setStone(data.row_index, data.col_index, data.color);
      if(data.color == 'white'){
        $('#current_Turn').val("검정색");
      }
      else{
        $('#current_Turn').val("흰색");
      }
    });

    //getting specific message from server
    socket.on('getMessage', function(data){
      write_text(data.text);
    });

    //Victory
    socket.on('victory', function(data){
      alert('당신은 승리하였습니다! ^_^');
      write_text('You Win!');
      clearMap();
    });

    //Defeat
    socket.on('defeat', function(data){
      alert('게임에서 패배했습니다.ㅠ_ㅠ');
      write_text('You Lose!');
      clearMap();
    });

    //Clicking j-query events : send a message
    $("#chat_submit").click(function() {
      var msg = $('#chat_msg').val();
      if(!msg) return;
      socket.emit('message', {
        userid : userID,
        message: msg
      });
      $('#chat_msg').val('');
    });
    //by enter
    $('#chat_msg').keyup(function(e){
      if(e.keyCode == 13){
        $("#chat_submit").trigger('click');
      }
    });

    //change nickname
    $('#change_id').click(function(){
      var newID = prompt('바꿀 아이디를 입력하세요.', '손님2');
      if(newID){
        $('#userid').val(newID);
        userID = newID;
      }
    });

    $('td').click(function(){
      // index는 0부터 시작
      var index = $('td').index(this);
      var row = parseInt(index/19);
      var col = index%19;
      isAvailableLocation(socket, row, col);
    });
  });
  </script>


  </body>
</html>
