<!doctype html>
<html>
  <head>
    <title>오목 플레이</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--<link rel="stylesheet" href="assets/css/omok.css">-->
  </head>
  <body>
  오목 플레이
  <br>



  <fieldset>
  User ID : <input type="text" id="userid" value = '손님' readonly/>
  <button id='change_id'>아이디 변경</button>
  </fieldset>

  <fieldset>
    Game Infomation
    <div class="wait container">
      <br><br>
      상대방을 기다리고 있습니다.
    </div>

    <div class="info container">
      <br>
      현재 턴 : <input type="text" id="current_Turn" value="흑" readonly/>
      <br>
      남은 시간 : <input type="text" id="left_Time" value="10" readonly/>
    </div>



  </fieldset>


  <div class="chat container">
  <fieldset>
  <br>
  <textarea id="chat_content" cols="40" rows="8" readonly></textarea>

  <br>
  <input type='chat_msg' id="chat_msg">
  <button id="chat_submit">전송</button>
  </fieldset>
  </div>


  <div class="game container">
  <img id='omokpan' src="../images/omok.jpg"/>
  </div>
  <!-- script part -->
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <!--
  <script src="../assets/js/chat.js"></script>
  -->
  <script>

  $(document).ready(function() {
    // Socket.io connection
    var socket = io();
    var userID = $('#userid').val();

    //Request random Matching
    $('.wait').show();
    $('.info').hide();
    $('.chat').hide();
    $('.game').hide();
    socket.emit('requestRandomRoom');

    //Matching Complete
    socket.on('completeMatch', function(data){
      console.log('A Room Created! Match Successful.');
      $('.wait').hide();
      $('.info').show();
      $('.chat').show();
      $('.game').show();
    });

    // Receive a message
    socket.on('send:message', function(data) {
      $('#chat_content').append('\n' + userID + ' : ' + data);
      const top = $('#chat_content').prop('scrollHeight');
      $('#chat_content').scrollTop(top);
    });




    // Join to room
    socket.emit('join:room', {roomID: $("#roomName").val()});
    $("#chat_content").append("Welcome to " + $("#roomName").val() + "! 현재 방 유저 수 : ");

    // send a message
    $("#chat_submit").click(function() {
      var msg = $('#chat_msg').val();
      if(!msg) return;
      socket.emit('send:message', {
        roomID: $("#roomName").val(),
        message: msg
      });
      $('#chat_msg').val('');
    });

    //by enter
    $('#chat_msg').keyup(function(e){
      if(e.keyCode == 13){
        $("#chat_submit").trigger('click');
      }
    });

    //change nickname
    $('#change_id').click(function(){
      var newID = prompt('바꿀 아이디를 입력하세요.', '손님2');
      if(newID){
        $('#userid').val(newID);
        userID = newID;
      }
    });



    //new user Enter
    socket.on('new user enter', function(){
      $('#chat_content').append('\n' + "새 유저가 입장했습니다.");
      const top = $('#chat_content').prop('scrollHeight');
      $('#chat_content').scrollTop(top);
    });

  });

  //좌표 인식용
  var omokpan = $('#omokpan');
  omokpan.click(function(event){
    var x = event.pageX;
    var y = event.pageY;
    alert('x좌표 : ' + x + ' y좌표 : ' + y);
  });

  </script>


  </body>
</html>
