<!DOCTYPE html>
<html lang="ko">
<head>
    <title>오목 방 설정</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="assets/css/common.css">
</head>
<body>
<div class="chat_list_wrap">
    <div class="header">
        오목 플레이
    </div>
    <div class="search">
        <input type="text" placeholder="유저 이름 검색" />
    </div>
    <div>
        <button onclick="moveTo()">방 만들기</button>
        <script>
        function moveTo(){
          var roomname = prompt("만들 방 이름은?", "GroovyRoom");
          location.href = "omok/" + roomname;
        }
        </script>
    </div>
    <div class="list">
        <ul>
          <% for(var i=0; i<3; i++){ %>
            <li>
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="profile_td">
                            <!--Img-->
                            <img src="./images/profile_preview.png" />
                        </td>
                        <td class="chat_td">
                            <!--Email & Preview-->
                            <div class="email">
                                kkotkkio@gmail.com
                            </div>
                            <div class="chat_preview">
                                안녕하세요~
                            </div>
                        </td>
                        <td class="time_td">
                            <!--Time & Check-->
                            <div class="time">
                                2016.09.29 17:54
                            </div>
                            <div class="check">
                                <p> </p>
                            </div>
                        </td>
                    </tr>
                </table>
            </li>
          <% } %>
        </ul>
    </div>
</div>
</body>
</html>
